In [1]:
import numpy as np
import pandas as pd 
import os

In [2]:
# DOWNLOAD DATA
os.chdir("/Users/maishamos/Documents/Seconed.year/ב׳/Peer Lending project/data")
Q1_19 = pd.read_csv("Q1_2019.csv",low_memory=False)
Q2_19 = pd.read_csv("Q2_2019.csv",low_memory=False)
Q3_19 = pd.read_csv("Q3_2019.csv",low_memory=False)
Q4_19 = pd.read_csv("Q4_2019.csv",low_memory=False)

In [3]:
# DOWNLOAD DATA
os.chdir("/Users/maishamos/Documents/Seconed.year/ב׳/Peer Lending project/data")
Q1_18 = pd.read_csv("Q1_2018.csv",low_memory=False)
Q2_18 = pd.read_csv("Q2_2018.csv",low_memory=False)
Q3_18 = pd.read_csv("Q3_2018.csv",low_memory=False)
Q4_18 = pd.read_csv("Q4_2018.csv",low_memory=False)

In [4]:
# create a QUARTER column maybe it has some good information
Q1_18["Qrtr"] = 1
Q2_18["Qrtr"] = 2
Q3_18["Qrtr"] = 3
Q4_18["Qrtr"] = 4
Q1_19["Qrtr"] = 1
Q2_19["Qrtr"] = 2
Q3_19["Qrtr"] = 3
Q4_19["Qrtr"] = 4

In [5]:
# making 2 big Date Frames
all_year_19 = pd.concat([Q1_19,Q2_19,Q3_19,Q4_19])
all_year_18 = pd.concat([Q1_18,Q2_18,Q3_18,Q4_18])

In [6]:
# Get a list of columns in each dataframe
cols_18 = set(all_year_18.columns)
cols_19 = set(all_year_19.columns)

# Find columns that are in one dataframe but not the other
missing_cols = [col for col in cols_18.symmetric_difference(cols_19)]

# Print the missing columns, if any
if missing_cols:
    print("Columns missing in one of the dataframes:")
    for col in missing_cols:
        if col in cols_18:
            print(f"Column '{col}' is missing in 'all_year_19'")
        else:
            print(f"Column '{col}' is missing in 'all_year_18'")
else:
    print("All columns match between the two dataframes.")

Columns missing in one of the dataframes:
Column 'disbursement_method' is missing in 'all_year_19'

In [7]:
# !!! check with ERAN if 'disbursement_method' is not a data leakage to combine it back to the 2019 / use 2018 !!!
all_year_18 = all_year_18.drop(columns='disbursement_method')

In [12]:
all_year_18 = all_year_18.sort_values(by="id").reset_index(drop=True)
all_year_19 = all_year_19.sort_values(by="id").reset_index(drop=True)

In [13]:
all_year_18 = all_year_18[all_year_19.term == " 36 months" ]
all_year_18 =  all_year_18[all_year_19.loan_status.isin(["Default","Charged Off","Fully Paid"])]
all_year_19 = all_year_19[all_year_19.term == " 36 months" ]
all_year_19 =  all_year_19[all_year_19.loan_status.isin(["Default","Charged Off","Fully Paid"])]

/var/folders/zm/1616j84n2sqfb8203b6sjh4w0000gn/T/ipykernel_48049/725125927.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  all_year_18 = all_year_18[all_year_19.term == " 36 months" ]
/var/folders/zm/1616j84n2sqfb8203b6sjh4w0000gn/T/ipykernel_48049/725125927.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  all_year_18 =  all_year_18[all_year_19.loan_status.isin(["Default","Charged Off","Fully Paid"])]

In [14]:
all_year_18.isna().sum()

id                            0
member_id                215890
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
                          ...
settlement_amount        213568
settlement_percentage    213568
settlement_term          213568
payment_lifetime              0
Qrtr                          0
Length: 152, dtype: int64

In [23]:
all_year_18.columns[all_year_18.isna().sum() >= len(all_year_18)*0.95]

Index(['member_id', 'desc', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'revol_bal_joint',
       'sec_app_fico_range_low', 'sec_app_fico_range_high',
       'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths',
       'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util',
       'sec_app_open_act_il', 'sec_app_num_rev_accts',
       'sec_app_chargeoff_within_12_mths',
       'sec_app_collections_12_mths_ex_med',
       'sec_app_mths_since_last_major_derog', 'hardship_type',
       'hardship_reason', 'hardship_status', 'deferral_term',
       'hardship_amount', 'hardship_start_date', 'hardship_end_date',
       'payment_plan_start_date', 'hardship_length', 'hardship_dpd',
       'hardship_loan_status', 'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object')

In [20]:
x = all_year_18.columns[all_year_18.isna().sum() >= len(all_year_18)*0.95]

In [21]:
y = all_year_19.columns[all_year_19.isna().sum() >= len(all_year_19)*0.95]

In [22]:
x == y

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [14]:
all_year_18.shape,all_year_19.shape

((434407, 152), (434407, 152))

In [15]:
# all colums match the same order
sum(all_year_18.columns != all_year_19.columns)

0

In [16]:
# seeing matching id meeans we can check now for changed data with time
list(all_year_18.sort_values("id").id) == list(all_year_19.sort_values("id").id)

True

In [17]:
all_year_18_sorted = all_year_18.sort_values(by="id").reset_index(drop=True)
all_year_19_sorted = all_year_19.sort_values(by="id").reset_index(drop=True)

In [33]:
np.sum(all_year_18_sorted != all_year_19_sorted)['member_id']

434407

In [34]:
np.sum(all_year_18_sorted.isna())['member_id']

434407

In [39]:
np.sum(all_year_18_sorted != all_year_19_sorted)['member_id']>np.sum(all_year_18_sorted.isna())['member_id']

False

In [ ]:
np.sum(all_year_18_sorted != all_year_19_sorted)['member_id']>np.sum(all_year_18_sorted.isna())['member_id']
np.sum(all_year_18_sorted != all_year_19_sorted)['mths_since_last_delinq']>np.sum(all_year_18_sorted.isna())['mths_since_last_delinq']

In [23]:
np.sum(all_year_18_sorted != all_year_19_sorted,axis= 0)

id                            0
member_id                434407
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
                          ...
settlement_amount        429936
settlement_percentage    429891
settlement_term          429864
payment_lifetime         248713
Qrtr                          0
Length: 152, dtype: int64

In [23]:
unchanged_coloms

Index(['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'home_ownership', 'annual_inc',
       'verification_status', 'pymnt_plan', 'url', 'purpose', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'fico_range_low', 'fico_range_high',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'total_rec_late_fee',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'num_accts_ever_120_pd',
       'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl',
       'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0',
       'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
       'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit',
       'hardship_flag', 'debt_settlement_flag', 'Qrtr'],
      dtype='object')

In [31]:
all_year_18[unchanged_coloms].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 434407 entries, 0 to 103545
Data columns (total 86 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id                          434407 non-null  int64
 1   loan_amnt                   434407 non-null  int64
 2   funded_amnt                 434407 non-null  int64
 3   funded_amnt_inv             434407 non-null  float64
 4   term                        434407 non-null  object
 5   int_rate                    434407 non-null  object
 6   installment                 434407 non-null  float64
 7   grade                       434407 non-null  object
 8   sub_grade                   434407 non-null  object
 9   home_ownership              434407 non-null  object
 10  annual_inc                  434407 non-null  float64
 11  verification_status         434407 non-null  object
 12  pymnt_plan                  434407 non-null  object
 13  url                         434407 non-null  object
 14  purpose                     434407 non-null  object
 15  zip_code                    434407 non-null  object
 16  addr_state                  434407 non-null  object
 17  dti                         434344 non-null  float64
 18  delinq_2yrs                 434407 non-null  int64
 19  fico_range_low              434407 non-null  int64
 20  fico_range_high             434407 non-null  int64
 21  inq_last_6mths              434406 non-null  float64
 22  open_acc                    434407 non-null  int64
 23  pub_rec                     434407 non-null  int64
 24  revol_bal                   434407 non-null  int64
 25  revol_util                  434143 non-null  object
 26  total_acc                   434407 non-null  int64
 27  initial_list_status         434407 non-null  object
 28  total_rec_late_fee          434407 non-null  float64
 29  collections_12_mths_ex_med  434407 non-null  int64
 30  policy_code                 434407 non-null  int64
 31  application_type            434407 non-null  object
 32  acc_now_delinq              434407 non-null  int64
 33  tot_coll_amt                434407 non-null  int64
 34  tot_cur_bal                 434407 non-null  int64
 35  open_acc_6m                 434345 non-null  float64
 36  open_act_il                 434346 non-null  float64
 37  open_il_12m                 434346 non-null  float64
 38  open_il_24m                 434346 non-null  float64
 39  mths_since_rcnt_il          422649 non-null  float64
 40  total_bal_il                434346 non-null  float64
 41  open_rv_12m                 434346 non-null  float64
 42  open_rv_24m                 434346 non-null  float64
 43  max_bal_bc                  434346 non-null  float64
 44  all_util                    434323 non-null  float64
 45  total_rev_hi_lim            434407 non-null  int64
 46  inq_fi                      434346 non-null  float64
 47  total_cu_tl                 434345 non-null  float64
 48  inq_last_12m                434345 non-null  float64
 49  acc_open_past_24mths        434407 non-null  int64
 50  avg_cur_bal                 434407 non-null  int64
 51  bc_open_to_buy              429772 non-null  float64
 52  bc_util                     429572 non-null  float64
 53  chargeoff_within_12_mths    434407 non-null  int64
 54  delinq_amnt                 434407 non-null  int64
 55  mo_sin_old_il_acct          422704 non-null  float64
 56  mo_sin_old_rev_tl_op        434407 non-null  int64
 57  mo_sin_rcnt_rev_tl_op       434407 non-null  int64
 58  mo_sin_rcnt_tl              434407 non-null  int64
 59  mort_acc                    434407 non-null  int64
 60  mths_since_recent_bc        430033 non-null  float64
 61  num_accts_ever_120_pd       434407 non-null  int64
 62  num_actv_bc_tl              434407 non-null  int64
 63  num_actv_rev_tl             434407 non-null  int64
 64  num_bc_sats                 434407 non-null  int64
 65  num_bc_tl                   434407 non-null  int64
 66  num_il_tl                   434407 non-null  int64
 67  num_op_rev_tl               434407 non-null  int64
 68  num_rev_accts               434407 non-null  int64
 69  num_rev_tl_bal_gt_0         434407 non-null  int64
 70  num_sats                    434407 non-null  int64
 71  num_tl_120dpd_2m            413030 non-null  float64
 72  num_tl_30dpd                434407 non-null  int64
 73  num_tl_90g_dpd_24m          434407 non-null  int64
 74  num_tl_op_past_12m          434407 non-null  int64
 75  pct_tl_nvr_dlq              434407 non-null  float64
 76  percent_bc_gt_75            429742 non-null  float64
 77  pub_rec_bankruptcies        434407 non-null  int64
 78  tax_liens                   434407 non-null  int64
 79  tot_hi_cred_lim             434407 non-null  int64
 80  total_bal_ex_mort           434407 non-null  int64
 81  total_bc_limit              434407 non-null  int64
 82  total_il_high_credit_limit  434407 non-null  int64
 83  hardship_flag               434407 non-null  object
 84  debt_settlement_flag        434407 non-null  object
 85  Qrtr                        434407 non-null  int64
dtypes: float64(26), int64(44), object(16)
memory usage: 288.3+ MB

In [9]:
# check for matching id to start 
print(sorted(Q1_19.id)[0:5],sorted(Q1_18.id)[0:5])
print(sorted(Q1_19.id)==sorted(Q1_18.id))
print(sorted(Q2_19.id)[0:5],sorted(Q2_18.id)[0:5])
print(sorted(Q2_19.id)==sorted(Q2_18.id))
print(sorted(Q3_19.id)[0:5],sorted(Q3_18.id)[0:5])
print(sorted(Q3_19.id)==sorted(Q3_18.id))
print(sorted(Q4_19.id)[0:5],sorted(Q4_18.id)[0:5])
print(sorted(Q4_19.id)==sorted(Q4_18.id))

[56121, 70108, 288279, 363009, 364353] [56121, 70108, 288279, 363009, 364353]
True
[65104, 347674, 364688, 370844, 383830] [65104, 347674, 364688, 370844, 383830]
True
[55716, 352554, 390858, 392759, 401654] [55716, 352554, 390858, 392759, 401654]
True
[401243, 556854, 662307, 681725, 1023128] [401243, 556854, 662307, 681725, 1023128]
True

True

In [10]:
Q1_18.shape,Q2_18.shape,Q3_18.shape,Q4_18.shape

((133887, 152), (97854, 152), (99120, 152), (103546, 152))

In [ ]:
# dropping all colums that has more then 90% missing values.
all_year_19 = all_year_19.drop(columns=all_year_19.columns[np.sum(all_year_19.isna(),axis= 0) >= len(all_year_19)*0.9])

In [ ]:
# dropping all colums that has more then 10% missing values.
all_year_18 = all_year_18.drop(columns=all_year_18.columns[np.sum(all_year_18.isna(),axis= 0) >= len(all_year_18)*0.9])